{% extends 'app/base.html' %}

{% load static %}

<link rel="stylesheet" href="{% static 'app/css/base.css' %}">

{% block contenido %}

    <div class="slider">
        <div>
            <img src="{% static 'app/img/Slider/3.jpg' %}" alt="">
        </div>
        <div>
            <img src="{% static 'app/img/Slider/4.jpg' %}" alt="">
        </div>
        <div>
            <img src="{% static 'app/img/Slider/3.jpg' %}" alt="">
            </li>
        </div>
    </div>

    <section id="contenido">

        <div class="vision">
            <h1>Vision</h1>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Delectus et ut voluptas itaque, excepturi libero nostrum esse molestias, ex dolorum, reprehenderit obcaecati a sed neque rerum possimus odio corporis inventore.</p>
        </div>

        <div class="mision">
            <h1>Mision</h1>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolor quidem facilis consequatur sint quis at provident quia fugiat voluptates eius, ex, sunt ipsam totam ad, optio aliquam vitae tempore unde?</p>
        </div>

        <div class="quienes_somos">
            <h1>Quienes Somos</h1>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corrupti cumque est eos cupiditate. Distinctio illum magnam dolorum nesciunt mollitia. Explicabo, modi eos itaque temporibus vero eum perferendis ut. Tenetur, mollitia.</p>
        </div>

    </section>

{% endblock %}
    
    

   

    

    